body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App {

}

h1 {
    padding: 0px;
    margin: 0px;
}

h2 {
    margin: 0px;
}

a {
    color: hotpink;
}

/* visited link */
a:visited {
    color: hotpink;
}

/* mouse over link */
a:hover {
    color: black;
    text-decoration: none;
    transition: background 0.2s ease, color 0.2s ease
}

/* selected link */
a:active {
    color: black;
}

ul {
    padding-left: 10px;
}

