.App {

}
h1 {
    padding: 0px;
    margin: 0px;
}

h2 {
    margin: 0px;
}

a {
    color: hotpink;
}

/* visited link */
a:visited {
    color: hotpink;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
