.main-about-div {
    width: 45%;
    margin: auto;
}

@media screen and (max-width: 1400px) {
  .main-about-div {
    width: 60%;
  }
}

@media screen and (max-width: 1000px) {
  .main-about-div {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .main-about-div {
    width: 98%;
  }
}

.center {
    text-align: center;
}

.content {
    text-align: justify;
}

.hyperlink {
    color: #2e3133;
}
