extends layout

block content
    h1= title
    h1= 'osti to ' + title
    p Welcome to #{title}
    each image in tabarnak
        div.sacrement
           img(src=image)
        br
    div(id='imageContainer')
    script(type='text/javascript' src='/javascripts/imgLoad.js')
